:root {
    --basic-white: #FFFFFF;
    --basic-light-black: #333333;
    --blue-gray-light: #81B3D2;
    --smoky-white:#EEEEEE;
    --basic-white-90: rgba(255, 255, 255, 0.9);
    --basik-white-30: rgba(255, 255, 255, 0.3);
    --light-brown: #766357;
    --basic-black: #000000;
    --basic-black-30: rgba(0, 0, 0, 0.3);
    --basic-dark-white: #F2F2F2;
    --basic-grey: #A9A9A9;
    --basic-dark-grey: #6A6A6A;
    --brown: #604E43;
    --darck-brown: #503E33;
    --smoky-white-dark: #EBEBEB;
    --blue-gray:  #669EC0;
    --blue-gray-dark: #5496BD;
    --dull-gray: #666666;
    --light-gray:#BDBBBC;
    --smoky:#CACACA;
 }
  /* Global */
  .page {
   height: 100%;
  }

   .page-body {
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);

    min-height: 100%;
    display: grid;
    grid-template-rows: max-content 1fr min-content;
    }

  .base-link {
    color:var(--basic-black);
    text-decoration: none;
  }

  .base-link:hover {
    color:var(--blue-gray-light);
  }

  .base-link:active {
    color:var(--basic-black-30);

  }

  /* Main header */

  .main-header {
    margin-bottom: 0px;
    grid-row: 1/2;

  }

/* Main navigation */

  .main-navigation {
    background-color: var(--basic-white);
    }

  .main-navigation-wrapper {
    background-color: var(--basic-white);
    position: relative;
   }

  .site-navigation {
    margin: 0;
    padding: 15px 72px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-black);
    list-style: none;
    display: flex;
  }

  .site-navigation li {
    margin-left: 72px;
  }

  .site-navigation li:first-child {
    margin-left: 0;
  }

  .site-navigation li:nth-child(3) {
    margin-left: auto;
  }

  .main-logo-wrapper {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -69px;
    }

    /*Container*/

  .container {
     grid-row: 2/3;
  }

  .container-promo {
    background:url("../img/welcome/background-photo.jpg") no-repeat;
    height: 509px;
    background-color:var(--basic-dark-grey);
  }

  .container-promo-title {
    font-size: 21px;
    text-align: center;
    line-height: 26px;
    font-weight: 700;
  }

  .container-promo-text {
    text-align: center;
    line-height: 26px;
    font-weight: 400;
    color: var(--basic-light-black);
  }

  /* Features */

  .features {
    margin-bottom: 58px;
  }

  .features-list
  .feature-item {
    list-style: none;
  }

  .features-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr max-content;
  }

    .feature-item {
    text-align: center;
    font-weight: 400;
    color:var(--basic-white);
    background-color: var(--blue-gray-light);
  }

  .big-item-1 {
    grid-column: 1/4;
    grid-row:1/2;
  }

  .big-item-2 {
    grid-column: 1/4;
    grid-row:2/3;
  }

  .feature-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .feature-item-text-1 {
    grid-column: 1/2;
    grid-row: 1/2;
    max-width: 303px;
    justify-self: center;
  }

  .feature-item-text-2 {
    grid-column: 3/4;
    grid-row: 1/2;
    max-width: 303px;
    justify-self: center;
  }

  .feature-item h3 {
    font-size: 21px;
    line-height: 21px;
  }

  .feature-item-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style: none;
    background-color: var(--basic-white);
  }

  .feature-item-info-detalies {
    text-align: center;
    font-weight: 400;
    color: var(--basic-light-black);
    max-width: 300px;
    }

  .feature-item-info-detalies h4 {
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black)
  }

  .short-item {
    font-weight: 400;
    text-align: center;
    color:var(--basic-light-black);
    background-color: var(--smoky-white);
  }

   /*search*/

  .search {
    text-align: center;

    }

   .search h2 {
    font-size: 30px;
    line-height: 24px;
   }

  .search-info {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
  }
  .namber-older-kids {
    display: flex;
  }
  .search-button {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-white);
    text-transform: uppercase;
    width:568px;
    min-height:86px;
    background-color: var(--light-brown);
    border: 0px;
  }

  .search-button:hover {
    background-color: var(--brown);
  }

  .search-button:active {
    background-color: var(--darck-brown);
    color:var(--basik-white-30);
  }

 /* Search-form */

 .search-form {
   width:568px;
   align-items: center;
  }

  .search-item {
   line-height: 26px;
  }

  form input {
  background-color:var(--basic-dark-white);
  border: 2px solid transparent;
  }

  form input:hover {
  background-color:var(--smoky-white-dark);
  border: 2px solid transparent;
  }

  form input:focus {
  background-color:var(--basic-white);
  border: 2px solid #E5E5E5;
  }

  .button-search-catalog {
    font-size: 21px;
    line-height: 27px;
    font-weight: 700;
    color:var(--basic-white);
    text-transform: uppercase;
    width:458px;
    height:58px;
    background-color:var(--blue-gray-light);
    border: 0px;
  }

  .button-search-catalog:hover {
    background-color:var(--blue-gray);
  }

  .button-search-catalog:active {
    background-color:var(--blue-gray-dark);
    color:var(--basik-white-30);
  }

  .button-min  {
    background-color:var(--basic-grey);
    border: 0px;
  }

   .button-max {
    background-color:var(--basic-grey);
    border: 0px;
  }

  .button-min:hover {
    background-color:var(--basic-black);
    border: 0px;
  }

  .button-max:hover {
   background-color:var(--basic-black);
   border: 0px;
  }

  .button-min:active {
    background-color:var(--blue-gray-light);
    border: 0px;
  }

  .button-max:active {
   background-color:var(--blue-gray-light);
   border: 0px;
  }

  /* Main footer */

  .main-footer {
    background-color: var(--basic-white-90);
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    }

   .footer-contacts {
      margin: 0;
      grid-column: 1/2;
     justify-self: center;
  }


   .footer-social {
    text-align: center;
    grid-column: 2/3;
    justify-self: center;

  }

  .footer-social ul {
    list-style: none;
  }

  /* Social button */

  .social-button {
    background-color:var(--blue-gray-light);
    width: 46px;
    height:48px;
  }

  .social-button:hover {
    background-color:var(--blue-gray);
  }

  .social-button:active {
    background-color:var(--blue-gray-dark);
  }

  /*footer-copyright */

  .footer-copyright {
    grid-column: 3/4;
    justify-self: center;
    line-height: 26px;
    text-decoration: none;
    }

 .copyright-button:hover {
   background-color:var(--blue-gray-light);
  }

  .copyright-button:active {
    background-color:var(--light-gray);
  }


  /* catalog*/

  .site-navigation .active {
    color:var(--light-brown);
  }
  .container-catalog {
    margin: 0;
    padding: 0;

  }

  /* filter-form */

  .filter-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
  }

  .filter-1 {
    grid-column: 1/2;
    justify-self:right;
  }

  .filter-2 {
    grid-column: 2/3;
    justify-self:center;
    margin-left: auto;
  }

  .filter-form {
   background:url("../img/catalog/background.jpg") no-repeat;
   background-size: cover;
  }

  .filter-option {
   color:var(--basic-white);
   font-weight: 400;
  }

 .filter-form legend {
   font-size: 16px;
   line-height: 21px;
   font-weight: 700;
   color:var(--basic-white);
  }

 .filter-form ul {
   list-style: none;
  }

  .filter-price-input{
    background: none;
    border: 2px solid #FFFFFF;
    color:var(--basic-white);
  }

  .filter-button-show {
    background: none;
    border: 2px solid var(--basic-white);
    color:var(--basic-white);
    text-transform: uppercase;
  }

  .filter-button-show:hover {
    background-color:var(--basic-white);
    color:var(--basic-black);
    text-transform: uppercase;
  }

 /* catalog-sort */

 .catalog-sort{
    display: flex;

  }

  .catalog-sort h2 {
    font-size: 21px;
   line-height: 26px;
   font-weight: 700;
   color:var(--basic-black);
   margin-left: 73px;
   margin-right: 46px;
  }

  .catalog-sort p {
    font-size: 12px;
   line-height: 18px;
   font-weight: 400;
   color:var(--basic-black);

  }

  .sort-list {
    list-style: none;
    display: flex;
    margin-left: 40px;

    }

  .sort-item a:link {
    background: none;
    border: none;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color:var(--basic-black-30);
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color:var(--blue-gray-light);
  }

  .sort-item a:visited {
    color:var(--blue-gray-light);
    text-decoration: none;
  }

  .sort-item a:hover {
    color:var(--blue-gray-light);
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #81B3D2;
  }

  .sort-item a:active {
    color:var(--basic-black);
    text-decoration: none;
  }

  .sort-item a.active {
    color:var(--blue-gray-light);
    text-decoration: none;
  }

    /* catalog-list */

  .catalog-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    list-style: none;
  }
  .catalog-item {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color:var(--basic-black);
  }
  .item-1 {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: min-content 2fr min-content;
  }
  .item-2 {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: min-content 2fr min-content;
  }

  .item-3 {
    grid-row: 3/4;
    display: grid;
    grid-template-columns: min-content 2fr min-content;
  }

  .catalog-item-name {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
  }

  .catalog-item-detail {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color:var(--basic-white);
    background-color:var(--blue-gray-light);
    text-decoration: none;
    }

  .catalog-item-detail:hover{
    background-color:var(--blue-gray);
  }

  .catalog-item-detail:active{
    background-color:var(--blue-gray-dark);
    color:var(--basik-white-30);
  }

  .button-reserv {
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color:var(--basic-white);
    background-color: var(--light-brown);
    border: 0px;
  }

  .button-reserv:hover {
    background-color: var(--brown);
  }

  .button-reserv:active{
    background-color: var(--darck-brown);
    color:var(--basik-white-30);
  }

  .catalog-item-raiting {
    background-color: var(--basic-dark-white);
  }
  .hostel-star-raiting {
    display: flex;
  }
